@import '_mixins.scss';
@import '_variables.scss';


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.pokemon-container {
  @include flexbox(column, flex-start, center);
  @include heightAndWidth(200vh, 80vw);
  background-color: #333;
  padding: 5em;
}

.row1, .row2, .row3,
.row4, .row5, .row6,
.row7, .row8, .row9,
.row10, .row11, .row12,
.row13, .row14, .row15,
.row16, .row17, .row18,
.row19, .row20, .row21,
.row22, .row23, .row24,
.row25, .row26, .row27,
.row28, .row29, .row30,
.row31, .row32, .row33 {
  display: flex;
}

.black {
  @include heightAndWidth($height, $width);
  @include border(2px solid $black, none);
  background-color: $black;
}

.white {
  @include heightAndWidth($height, $width);
  @include border(2px solid $white, none);
  background-color: $white;
}

.gray {
  @include heightAndWidth($height, $width);
  @include border(2px solid $gray, none);
  background-color: $gray;
}

.blank-pixel {
  @include heightAndWidth($height, $width);
  @include border(2px solid #333, none);
}

.green-1 {
  @include heightAndWidth($height, $width);
  @include border(2px solid #bdff73, none);
  background-color: #bdff73;
}

.green-2 {
  @include heightAndWidth($height, $width);
  @include border(2px solid #a4d541, none);
  background-color: #a4d541;
}

.green-3 {
  @include heightAndWidth($height, $width);
  @include border(2px solid #73ac31, none);
  background-color: #73ac31;
}

.green-4 {
  @include heightAndWidth($height, $width);
  @include border(2px solid #526229, none);
  background-color: #526229;
}

.teal-1 {
  @include heightAndWidth($height, $width);
  @include border(2px solid #83eec5, none);
  background-color: #83eec5;
}

.teal-2 {
  @include heightAndWidth($height, $width);
  @include border(2px solid #62d5b4, none);
  background-color: #62d5b4;
}

.teal-3 {
  @include heightAndWidth($height, $width);
  @include border(2px solid #317373, none);
  background-color: #317373;
}

.teal-4 {
  @include heightAndWidth($height, $width);
  @include border(2px solid #184a4a, none);
  background-color: #184a4a;
}

.red-1 {
  @include heightAndWidth($height, $width);
  @include border(2px solid #ff6a62, none);
  background-color: #ff6a62;
}

.red-2 {
  @include heightAndWidth($height, $width);
  @include border(2px solid #ee2039, none);
  background-color: #ee2039;
}

.red-3 {
  @include heightAndWidth($height, $width);
  @include border(2px solid #ac0031, none);
  background-color: #ac0031;
}
