@import '_mixins.scss';
@import '_variables.scss';

nav {
  @include flexbox(column, none, center);
  @include heightAndWidth(200vh, 20vw);
  padding: 10px;
  background-color: #4c4b4b;
  color: #fff;
  box-shadow: 5px 5px #000;
}

.app-title {
  margin: 20px;
  text-align: center;
  font-size: 2em;
}

.btn {
  @include heightAndWidth(5vh, 10vw);
  margin: 10px;
  font-size: 20px;
  font-weight: bolder;
  border-radius: 20px;
  box-shadow: 2px 2px 3px #000;
}

.pokemon-btn-div {
  @include flexbox(column, none, center);
}

.nav-home {
  @include border(2px solid #000, none);
  background-color: #E50F0F;
  color: #fff;
}

.nav-home:hover {
  @include border(2px solid #ac0031, none);
  background-color: #fff;
  color: #ac0031;
  transition: 1s;
}

.nav-bulbasaur {
  @include border(2px solid #184a4a, none);
  background-color: #73ac31;
  color: #184a4a;
}

.nav-bulbasaur:hover {
  @include border(2px solid #fff, none);
  border-radius: 20px;
  background-color: #62d5b4;
  color: #ac0031;
  transition: 1s;
}

.nav-charmander {
  @include border(2px solid #ffd508, none);
  background-color: #f6a400;
  color: #e63900;
}

.nav-charmander:hover {
  @include border(2px solid #f6a400, none);
  border-radius: 20px;
  background-color: #de5239;
  color: #ffd57b;
  transition: 1s;
}

.nav-squirtle {
  @include border(2px solid #8bc5cd, none);
  background-color: #b4e6ee;
  color: #297383;
}

.nav-squirtle:hover {
  @include border(2px solid #b4e6ee, none);
  border-radius: 20px;
  background-color: #297383;
  color: #8bc5cd;
  transition: 1s;
}

.nav-pikachu {
  @include border(2px solid #292929, none);
  background-color: #fff6a4;
  color: #292929;
}

.nav-pikachu:hover {
  @include border(2px solid #fff6a4, none);
  border-radius: 20px;
  background-color: #292929;
  color: #fff6a4;
  transition: 1s;
}

.nav-lapras {
  @include border(2px solid #f6eee6, none);
  background-color: #73c5f6;
  color: #184152;
}

.nav-lapras:hover {
  @include border(2px solid #73c5f6, none);
  border-radius: 20px;
  background-color: #184152;
  color: #f6eee6;
  transition: 1s;
}